<div class="flex flex-col items-center justify-center py-6 my-2 mx-auto lg:py-0">
  <div class="w-full bg-base-200 rounded-lg shadow sm:max-w-2xl">
    <div class="p-6 sm:p-8">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-secondary-content md:text-2xl text-center mb-6">プライバシーポリシー</h1>
      <p class="mb-6">アニメ作品の利用者間での情報共有を目的とした「AnimeTierList」(以下「本サービス」といいます。) を運営およびユーザに提供する者 (以下「運営者」といいます。) は、本サービスにおけるユーザについての個人情報を含む利用者情報の取扱いについて、以下のとおりプライバシーポリシー (以下「本ポリシー」といいます。) を定めます。</p>
      <h2 class="text-xl">第1条 (適用)</h2>
      <div class="border border-gray-600 mb-6"></div>
      <p class="mb-6"></p>
      <ul class="list-decimal ml-4">
        <li class="pb-2">本規約は、本サービスの提供条件及び本サービスの利用に関する運営者と登録ユーザとの間の権利義務関係を定めることを目的とし、登録ユーザと運営者との間の本サービスの利用に関わる一切の関係に適用されます。</li>
        <li>本規約の内容と、その他本規約以外の箇所に表示された本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。</li>
      </ul>







    </div>
  </div>
</div>