<% if user_signed_in? %>
  <% if current_user.bookmarked?(animation) %>
    <div class="btn btn-ghost btn-xs">
      <%= render 'unbookmark', animation: animation %>
    </div>
  <% else %>
    <div class="btn btn-ghost btn-xs">
      <%= render 'bookmark', animation: animation %>
    </div>
  <% end %>
<% else %>
  <%= link_to bookmarks_path(animation_id: animation.id), class: "btn btn-ghost btn-xs", data: { "turbo-method": :post } do %>
    <i class="fa-solid fa-bookmark text-2xl"></i>
    <p><%= animation.bookmarks.count %></p>
  <% end %>
<% end %>