<%= turbo_frame_tag dom_id(animation, :bookmark_animation) do %>
  <%= link_to bookmarks_path(animation_id: animation.id), class: "flex items-center", data: { "turbo-method": :post } do %>
    <i class="fa-solid fa-bookmark text-2xl"></i>
    <p class="pl-2"><%= animation.bookmarks.count %></p>
  <% end %>
<% end %>