<div class="sm:hidden">
  <% animations.each do |a| %>
    <div class="flex px-3 py-2">
      <div class="w-1/2">
      <%= link_to image_tag(a.image, class: "w-full h-full object-cover object-center group-hover:scale-110 transition duration-200 rounded", alt: a.title), animation_path(a.id), class: "group h-24 block bg-gray-100 overflow-hidden relative rounded", data: { turbo_frame: "_top" } %>
      </div>
      <div class="flex flex-col w-1/2 pl-2 truncate">

        <%= link_to a.title, animation_path(a.id), class: "text-sm font-bold link link-hover truncate mt-1" %>

        <% if a.tier_lists.present? || a.tier_list_entiers.present? %>
          <div class="badge text-base font-bold py-3 mt-3" style="<%= a.tier_color(a.tier_average) %>">
            <%= a.tier_score_change(a.tier_average) %> Tier
          </div>
        <% else %>
          <div class="badge py-3 mt-3">
            <span class="text-xs font-bold">
              ー&nbsp;
            </span>
            <span class="text-base font-bold">
              Tier
            </span>
          </div>
        <% end %>

        <div class="flex mt-3">

          <div class="px-1">
            <i class="fa-solid fa-square-plus text-xl"></i>
          </div>

          <div class="px-3">
            <i class="fa-solid fa-bookmark text-xl"></i>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>