<%= turbo_frame_tag dom_id(animation, :bookmark_animation) do %>
  <%= link_to bookmark_path(current_user.bookmarks.find_by(animation_id: animation.id)), class: "flex items-center text-info", data: { turbo_method: :delete } do %>
    <i class="fa-solid fa-bookmark text-2xl"></i>
    <p class="pl-2"><%= animation.bookmarks.count %></p>
  <% end %>
<% end %>