<h1><%= @user.user_name %>のユーザーページ</h1>
<h1><%= @user.user_id %>のユーザーページ</h1>
<h1><%= @user.email %>のユーザーページ</h1>

<div class="avatar">
  <div class="w-24 rounded-full">
    <%= image_tag @user.user_image %>
  </div>
</div>