<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <div>
    <div class="flex mb-0.5">
      <%= link_to "https://twitter.com/Hinata_Tashiro", target: :_blank, rel: "noopener noreferrer", class: "mr-2" do %>
        <i class="fa-brands fa-square-x-twitter fa-2xl"></i>
      <% end %>
      <%= link_to "https://github.com/hinata000/ATL", target: :_blank, rel: "noopener noreferrer", class: "ml-2" do %>
        <i class="fa-brands fa-square-github fa-2xl"></i>
      <% end %>
    </div>
    <div class="flex justify-center my-1">
      <%= link_to "利用規約", terms_path, class: "link link-hover mr-2" %>
      <%= link_to "プライバシーポリシー", privacy_policy_path, class: "link link-hover ml-2" %>
    </div>
    <p>© 2023 AnimeTierList</p>
  </div>
</footer>