<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <div>
    <div class="flex justify-center">
      <%= link_to "利用規約", terms_path, class: "link link-hover mr-5" %>
      <%= link_to "プライバシーポリシー", privacy_policy_path, class: "link link-hover" %>
    </div>
    <p>© 2023 AnimeTierList</p>
  </div>
</footer>