<button class="" onclick="notification.showModal()">
  <label tabindex="1" class="ml-4 sm:ml-6">
    <i class="fa-regular fa-bell fa-xl fa-fw"></i>
  </label>
</button>
<dialog id="notification" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg">お知らせ</h3>
      <div class="mt-5">
        <% if notifications.exists? %>
          <% notifications.each do |notification| %>
            <%= link_to user_path(notification.visitor) do %>
              <div class="flex items-center mb-4">
                <%= image_tag notification.visitor.user_image.url, class: "w-10 h-10 bg-base-300 rounded-full object-cover mr-2" %>
                <%= notification.visitor.user_name %>があなたをフォローしました。<%= " (#{time_ago_in_words(notification.created_at)}前)" %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p class="mb-3">お知らせはありません</p>
        <% end %>
      </div>
  </div>
</dialog>